<div id="main">
  <%= turbo_frame_tag dom_id(@q) do %>
    <div id="form">
      <%= render partial: 'qform', locals: {course: @course, q: @q} %>
    <div>
  <% end %>

  <div id="bottom">
    <%= link_to "Back to question index", course_questions_path(@course) %>
  </div>
</div>
