<div id="main">
  <%= turbo_frame_tag 'create_form' do %>
    <div id="form">
      <%= render partial: 'qform' %>
    <div>
  <% end %>

  <br>
  <div id="bottom">
    <%= link_to "Back to question index", course_questions_path(@course), class: 'btn btn-primary' %>
  </div>
</div>
