<div id="main">
  <div id="form">
    <%= render partial: 'qform' %>
  <div>

  <br>
  <div id="bottom">
    <%= link_to "Back to question index", course_questions_path(@course), class: 'btn btn-primary' %>
  </div>
</div>
