<div class="card" id="noqcard">
  <div class="card-body">
    <h3 class="card-title"></h3>
    <span>
      <%= octicon "stopwatch", :height => 32 %>
    </span>
    <span>Hang on ... </span>
    <p class="card-text">no question is active right now</p>
  </div>
</div>
