<div id="main">
  <%= link_to "Review past questions", course_questions_path(@course), :class => "btn btn-outline-primary" %>
  <%= render :partial => 'attendance' %>

  <%= render :partial => 'activequestion', locals: {course: @course, question: @question, poll: @poll, poll_response: @response, activepoll: @activepoll} %>

  <br/>

  <div id="bottom"></div>
</div>
